*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather Sans', sans-serif;
}

:root {
    --colorDark1: #112D4E;
    --colorDark2: #3F72AF;
    --colorLight1: #DBE2EF;
    --colorLight2: #F9F7F7;
}
.wrapper{
    background-image: linear-gradient(160deg, #112d4e 0%, #3f72af 100%);
    height: 100rem;
    overflow: hidden;
    width: 100vw;
    color: var(--colorLight2);
    display: flex;
    justify-content: center;
}

.tab.current-tab{
    background-color: rgba(219, 226, 239,0.5);
    border-radius: 4px;
}
.weather-location-container{ 
    margin-block:4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 

.btn{
    all: unset;
    /* appearance: none;
    border:none;
    color: white; */
    border-radius: 5px;
    background-color: var(--colorDark2);
    padding: 10px 30px;
    margin-bottom: 10px;
}

.grant-container{
    display: none;
    flex-direction: column;
    align-items: center;
}
.grant-container.active{
    display: flex;
}
.sub-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    

}
.grant-container p:last-of-type{
    font-size:0.85rem;
    font-weight: 500;
    margin-top: 0.75rem;
    margin-bottom: 1.75rem;
    letter-spacing: 0.75px;
}

.grant-container p:last-of-type{
    font-size:0.85rem;
    font-weight: 500;
    margin-top: 0.75rem;
    margin-bottom: 1.75rem;
    letter-spacing: 0.75px;
    /* color: ; */
}
.btn{
    color: #112d4e;
}


.grant-container img{
    margin-bottom: 2rem;
}

.loading-container{
    display: none;
}

.loading-container.active{
    display: flex;
}

.loading-container p{
    text-transform: uppercase;
}
.user-info-container{
    display:none;
}

.user-info-container.active{
    display: flex;
    flex-direction: column;
}
.user-info-container p{
    font-size:1.5rem;
    font-weight:200;
}
.user-info-container img{
    width:90px;
    height:90px;
}
.name img{
    width:30px;
    height:30px;
}
.user-info-container p[data-temp] {
    font-size:2.75rem;
    font-weight:700;
}
.parameter-container{
    width:90%;
    display: flex;
    gap: 10px 20px;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.parameter{
    border-radius: 5px;
    gap: 5px 0;
}
.parameter img{
    width:50px;
    height:50px;
}

.parameter p:first-of-type{
    font-size: 1.15rem;
    font-weight:600;
    text-transform: uppercase;
}

.parameter p:last-of-type{
    font-size: 1rem;
    font-weight: 200;
}

.form-container{
    display: none;
    width:90%;
    max-width:550px;
    margin:0 auto;
    justify-content: center;
    align-items: center;
    gap: 0 10px; 
    margin-bottom: 3rem;
}

.form-container.active{
    display: flex;
}

.form-container input{
    all:unset;
    width: calc(100% - 80px);
    height:40px;
    padding: 0 20px;
    background-color:rgba(219, 226, 239, 0.5);
    border-radius: 10px;
}
.form-container input::placeholder{
    color: rgba(255, 255, 255, 0.7);
}
.form-container input:focus{
    outline: 3px solid rgba(255, 255, 255, 0.7);
}

.form-container .btn {
    padding:unset;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    margin-bottom:1px;
}

.my-cities{
    display: none;
}

.my-cities.active{
    display: flex;
}

.button {
    margin-top: 2rem;
    position: relative;
    overflow: hidden;
    height: 3rem;
    width: 100%;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background-size: 400%;
    color: #fff;
    border: none;
    margin: 2rem 10rem;
    background: black; /* Set the background color here */
  }
  
  .button:hover::before {
    transform: scaleX(1);
  }
  
  .button-content {
    position: relative;
    z-index: 1;
  }

  button{
    background-colors: #DBE2EF;
  }
  .button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    color: var(--colorDark1);
    background: var(--colorDark1);
    transition: all 0.475s;
  }

  .api-error-container {
    display: none;
}

.api-error-container.active {
    display: flex;
    gap: 1rem 0;
}

.api-error-container p {
    text-align: center;
}

.api-error-container img {
    width: 100%;
    max-width: 300px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}
  .my-cities{
    display: none;
  }
  .my-cities.active{
    width: 37%;
    display: flex;
    flex-direction: column;
  }

  .saved-city{
    margin: 1rem;
    padding: 1rem;
    border-radius: 5rem;
    color: var(--colorDark1);
    background-color: var(--colorLight1);
    width: 100%;
    display: flex;
    gap: 2px;
    justify-content: space-between;
  }

  .btnn {
    background-color: transparent;
    position: relative;
    border: none;
  }
  
  .btnn::after {
    content: 'delete';
    position: absolute;
    top: -130%;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    height: fit-content;
    background-color: rgb(168, 7, 7);
    padding: 4px 8px;
    border-radius: 5px;
    transition: .2s linear;
    transition-delay: .2s;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    opacity: 0;
    visibility: hidden;
  }
  
  .icon {
    transform: scale(1.2);
    transition: .2s linear;
  }
  
  .btnn:hover > .icon {
    transform: scale(1.5);
  }
  
  .btnn:hover > .icon path {
    fill: rgb(168, 7, 7);
  }
  
  .btnn:hover::after {
    visibility: visible;
    opacity: 1;
    top: -160%;
  }
  

  

/* Media query for screens with a maximum width of 768px */
@media (max-width: 768px) {
    .parameter-container {
        flex-direction: column;
        align-items: center;
    }
    .parameter {
        width: 100%;
        margin-bottom: 10px;
    }
    .parameter {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .parameter img {
        width: 60px;
        height: 60px;
    }
    .parameter p:first-of-type {
        font-size: 1rem;
    }
    .parameter p:last-of-type {
        font-size: 0.9rem;
    }
    /* Add more responsive styles for parameters as needed */
}

/* Media query for screens with a maximum width of 480px */
@media (max-width: 480px) {
    .parameter-container {
        flex-direction: column;
        align-items: center;
    }
    .parameter {
        width: 100%;
        margin-bottom: 10px;
    }
    .parameter {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .parameter img {
        width: 40px;
        height: 40px;
    }
    .parameter p:first-of-type {
        font-size: 0.9rem;
    }
    .parameter p:last-of-type {
        font-size: 0.8rem;
    }
    /* Add more responsive styles for parameters as needed */
}
.button-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2;
}
/* Add more media queries for other screen sizes as required */


